@tailwind base;
@tailwind components;
@tailwind utilities;


.flex{
    display: flex;
}

.row{
    align-items: center;
    gap: 1rem;
}

button{
    border-style: none;
    background-color: tomato;
    color: white;
    padding:0.8em 1em;
    border-radius: 10px;
    cursor: pointer;
}

input{
    border-style: none;
    border: 1px dashed gray;
    padding: 0.7em 1em;
}